@import "tailwindcss";

@theme inline {
  --color-surface-dim: #070d1f;
  --color-surface-container-low: #09122b;
  --color-surface-container: #0a1839;
  --color-surface-container-high: #0b1d48;
  --color-surface-variant: #0a2257;
  
  --color-primary: #7bd0ff;
  --color-primary-container: #004c69;
  --color-on-primary: #004560;
  
  --color-secondary: #8f9fb7;
  --color-secondary-container: #2d3c51;
  
  --color-tertiary: #ffb148;
  --color-tertiary-container: #f8a010;
  
  --color-error: #ee7d77;
  
  --color-on-surface: #dfe4ff;
  --color-outline-variant: #32457c;

  --font-display: var(--font-manrope);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-grotesk);
}

body {
  background-color: var(--color-surface-dim);
  color: var(--color-on-surface);
  font-family: var(--font-sans);
}

/* Custom Scrollbar specifically designed for the Intelligence Surface */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-surface-container-high);
    border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-outline-variant);
}
